.new-achieve-main-container {
    margin: 40px;
}

.new-achieve-sub-container {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    /*column-gap: ;*/
}

.new-achieve-textbox {
    width: 100%;
    /* padding: 40px; */
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    height: min-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: center;

    z-index: 199;

}

.new-space {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.new-slideshow-container {
    background-color: rgb(255, 255, 255);
    border-radius: 34px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    height: min-content;
    padding-top: 7px;
}

.slider {
    margin: 0px 7px 0px 7px;
    position: relative;
    opacity: 1;
}

.slider-image {
    border-radius: 30px;
    aspect-ratio: 20 / 13;
    object-fit: cover;
}

/* .new-achieve-main-container:nth-child(even) .new-achieve-textbox {
    order: -1;
}

.new-achieve-main-container:nth-child(even) .new-slideshow-container {
    order: 1;
} */

.new-achieve-main-container.even .new-achieve-textbox {
    order: -1;
}

.new-achieve-main-container.even .new-slideshow-container {
    order: 1;
}

.new-circle {
    background-color: #fff;
    border: 3px solid #000000;
    z-index: 100;
    border-radius: 50%;
    position: absolute;
    margin-top: 0vh;
    /* right: calc(50% - 10px); */
    width: 5vw;
    height: 5vw;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

/* .new-achieve-main-container:nth-child(odd) .new-circle {
    left: calc(50% - 10px);
} */

.new-circle:hover{
    transform: scale(1.5);
}

.new-comp-title {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-weight: 700;
    color: rgb(255, 213, 23);
}
.new-comp-desc {
    text-align: left;
    margin: 0px;
}

.new-upper-bar {
    background: linear-gradient(115deg,rgb(0, 0, 0), rgb(15, 15, 15), rgb(30, 30, 30));
    width: 100%;
    height: 4vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .new-achieve-sub-container {
        grid-template-columns: 100%;
        border-radius: 3.5rem;
        box-shadow: 0px 1vw 2.5vw rgba(0, 0, 0, 0.3);
    }

    .new-achieve-main-container.even .new-achieve-textbox {
        order: 1;
    }
    
    .new-achieve-main-container.even .new-slideshow-container {
        order: -1;
    }

    .new-upper-bar {
        height: 5rem;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .new-space{
        display: none;
    }

    .slider-image{
        aspect-ratio: 20 / 14;
    }
    .new-achieve-main-container { /*<500*/
        margin: 1.8rem;
    }

    .new-achieve-textbox{
        padding: 0vw 0.86rem 0vw 0.9rem; /* 0.4 margin + 0.5 padding*/
        margin-top: -3rem;
        border-radius: 3.5rem;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        box-shadow: 0px 0vw 0vw rgba(0, 0, 0, 0.3);
    }

    .new-slideshow-container {
        border-radius: 3.5rem;
        background-color: #ffffff;
        height: min-content;
        padding-top: 0.4rem;
        padding: 0.8rem 0.5rem 0vw 0.5rem;

        box-shadow: 0px 0vw 0vw rgba(0, 0, 0, 0.3);
    }

    .slider {
        margin: 0px 0.4rem 0px 0.4rem;
    }

    .slider-image {/*<500*/
        margin-top: 0.1rem;
        border-radius: 3rem;
    }

    .new-comp-title {
        font-size: 2.25rem;
        /* margin-bottom: 1vw; */
    }

    .new-comp-desc {
        font-size: 1.55rem;
        line-height: normal;
        letter-spacing: 0.1rem;
        text-align: left;
        font-weight: 300;

        padding: 1.25rem 1.85rem 2.25rem 1.85rem;
    }

    .next, .prev {
        font-size: 2rem;
        width: 3rem;
        height: 5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .next {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .prev {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    
}

@media (min-width: 500px) and (max-width: 800px) {

    .new-achieve-sub-container {
        grid-template-columns: 100%;
        border-radius: 2.5rem;
        box-shadow: 0px 0.5vw 1vw rgba(0, 0, 0, 0.3);
    }

    .new-achieve-main-container.even .new-achieve-textbox {
        order: 1;
    }
    
    .new-achieve-main-container.even .new-slideshow-container {
        order: -1;
    }

    .new-upper-bar {
        height: 5rem;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .new-space{
        display: none;
    }

    .slider-image{
        aspect-ratio: 20 / 12;
    }
    .new-achieve-main-container {
        margin: 2.5rem;
    }

    .new-achieve-textbox{
        padding: 0vw 0.9vw 0vw 0.9vw; /* 0.4 margin + 0.5 padding*/
        margin-top: -3rem;
        border-radius: 2.5rem;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        box-shadow: 0px 0vw 0vw rgba(0, 0, 0, 0.3);
    }

    .new-slideshow-container {
        border-radius: 2.5rem;
        background-color: #ffffff;
        height: min-content;
        padding-top: 0.4vw;
        padding: 0.8vw 0.5vw 0vw 0.5vw;

        box-shadow: 0px 0vw 0vw rgba(0, 0, 0, 0.3);
    }

    .slider {
        margin: 0px 0.4vw 0px 0.4vw;
    }

    .slider-image {
        border-radius: 2.1rem;
    }

    .new-comp-title {
        font-size: 2.25rem;
        /* margin-bottom: 1vw; */
    }

    .new-comp-desc {
        font-size: 1.55rem;
        line-height: normal;
        letter-spacing: 0.1rem;
        text-align: left;
        font-weight: 300;

        padding: 1.25rem 1.85rem 2.25rem 1.85rem;
    }

    .next, .prev {
        font-size: 2.25rem;
        width: 3.5rem;
        height: 5.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .next {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .prev {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

@media screen and (min-width: 800px) {
    .new-achieve-main-container {
        margin: 2vw;
    }

    .new-achieve-textbox{
        /* padding: 1.75vw 2.75vw 2.25vw 2.75vw; */
        box-shadow: 0px 0.5vw 1vw rgba(0, 0, 0, 0.3);
        border-radius: 2.5vw;
    }

    .new-slideshow-container {
        border-radius: 2.5vw;
        box-shadow: 0px 0.5vw 1vw rgba(0, 0, 0, 0.3);
        height: min-content;
        padding-top: 0.4vw;
        padding: 0.8vw 0.5vw 0.5vw 0.5vw;
    }

    .slider {
        margin: 0px 0.4vw 0px 0.4vw;
    }

    .slider-image {
        border-radius: 1.9vw;
    }

    .new-circle {
        border: 0.3vw solid #000000;
        width: 1.6vw;
        height: 1.6vw;
    }

    .new-comp-title {
        font-size: 1.8vw;
        /* margin-bottom: 1vw; */
    }

    .new-comp-desc {
        font-size: 1.2vw;
        line-height: 1.9vw;
        letter-spacing: 0.075vw; 
        font-weight: 300;

        padding: 1.1vw 2.75vw 1.75vw 2.75vw;
    }

    .next, .prev {
        font-size: 2vw;
        width: 3vw;
        height: 5vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .next {
        border-top-left-radius: 0.5vw;
        border-bottom-left-radius: 0.5vw;
    }

    .prev {
        border-top-right-radius: 0.5vw;
        border-bottom-right-radius: 0.5vw;
    }

    .new-upper-bar {
        height: 4vw;
        border-top-left-radius: 2.5vw;
        border-top-right-radius: 2.5vw;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}