.timelineHolder {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timelineHolder::after {
    background: linear-gradient(150deg,#ffdc41,#F49D1A, #DC3535, #e80000  ,#B01E68);
    content: '';
    position: absolute;
    left: calc(50% - 7px);
    width: 14px;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

@media screen and (min-width: 800px) {

    .timelineHolder::after {
        width: 0.8vw;
        left: calc(50% - 0.4vw);
        border-radius: 3vw;
    }
}