.TeamPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    width: 97vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.team-title-holder {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 0vw;
    border: solid 2vw rgba(237, 236, 236, 0.351);
    border-left: 0px;
    border-right: 0px;
    padding: 0vw;

    width: 200%;
    border-image-slice: 1;
    border-image-source: linear-gradient(115deg,rgba(255, 170, 0, 0.722),rgba(255, 204, 0, 0.721),rgba(255, 230, 0, 0.693),rgba(255, 255, 0, 0.699));

    overflow: hidden;
    /* background: linear-gradient(115deg,#ff6f00,#ffb300, #ffbf00, #fd0ddd  ,rgb(139, 0, 102)); */
}

.team-title {
    max-width: 100%;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media screen and (max-width: 900px) {
    .member-wrapper {
        grid-template-columns: 100%;
    }

    .team-title {
        font-size: 2.5rem;
    }
    
    
}

@media screen and (min-width: 700px) and (max-width: 1450px) {
    .member-wrapper {
        grid-template-columns: 50% 50%;
    }    
    
}

@media (min-width: 1450px) {
    .team-title{
        font-size: 2vw;
    }
    .team-title-holder {
        height: 5.5vw;
        margin-top: 1vw;
        border: solid 0.6vw rgba(237, 236, 236, 0.351);

        
        border-image-slice: 1;
        border-image-source: linear-gradient(115deg,rgba(255, 170, 0, 0.722),rgba(255, 204, 0, 0.721),rgba(255, 230, 0, 0.693),rgba(255, 255, 0, 0.699));
    }
    
}