.TeamPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    width: 97vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.team-title-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0vw;
    border: solid 0.6vw rgba(237, 236, 236, 0.351);
    border-left: 0px;
    border-right: 0px;
    padding: 0vw;

    width: 100%;
    border-image-slice: 1;
    border-image-source: linear-gradient(115deg,
            rgba(255, 170, 0, 0.722),
            rgba(255, 204, 0, 0.721),
            rgba(255, 230, 0, 0.693),
            rgba(255, 255, 0, 0.699));

    overflow: hidden;
}

.team-title {
    max-width: 100%;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media screen and (max-width: 700px) {
    .member-wrapper {
        grid-template-columns: 100%;
    }

    .team-title {
        font-size: 7vw;
    }

    .team-title-holder {
        height: 20vw;
        margin-top: 3vw;
        margin-bottom: 0vw;
        border: solid 2vw rgba(237, 236, 236, 0.351);
        border-left: 0px;
        border-right: 0px;
        padding: 0vw;

        width: 100%;
        border-image-slice: 1;
        border-image-source: linear-gradient(115deg,
                rgba(255, 170, 0, 0.722),
                rgba(255, 204, 0, 0.721),
                rgba(255, 230, 0, 0.693),
                rgba(255, 255, 0, 0.699));
    }
}

@media screen and (min-width: 700px) and (max-width: 1450px) {
    .member-wrapper {
        grid-template-columns: 50% 50%;
    }

    .team-title {
        font-size: 3.2vw;
    }

    .team-title-holder {
        height: 8vw;
        margin-top: 1.5vw;
        margin-bottom: 0vw;
        border: solid 0.9vw rgba(237, 236, 236, 0.351);
        border-left: 0px;
        border-right: 0px;
        padding: 0vw;

        width: 100%;
        border-image-slice: 1;
        border-image-source: linear-gradient(115deg,
                rgba(255, 170, 0, 0.722),
                rgba(255, 204, 0, 0.721),
                rgba(255, 230, 0, 0.693),
                rgba(255, 255, 0, 0.699));
    }
}

@media (min-width: 1200px) {

    .team-title {
        font-size: 2.2vw;
    }

    .team-title-holder {
        height: 6vw;
        margin-top: 1vw;
        margin-bottom: 0vw;
        border: solid 0.6vw rgba(237, 236, 236, 0.351);
        border-left: 0px;
        border-right: 0px;
        padding: 0vw;

        width: 100%;
        border-image-slice: 1;
        border-image-source: linear-gradient(115deg,
                rgba(255, 170, 0, 0.722),
                rgba(255, 204, 0, 0.721),
                rgba(255, 230, 0, 0.693),
                rgba(255, 255, 0, 0.699));
    }
}