.achi-toggle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achi-slider {
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-columns: auto auto;
    padding: 2px;
    margin: 20px;
    margin-bottom: 0;
}

.achi-button {
    padding: 20px;
    margin: 2px;
    border-radius: 7px;
    background-color: rgb(214, 214, 214);
    font-size: 2.5rem;
    font-weight: 800;

    transition: filter 0.25s ease-in-out;
}


.achi-button:hover{
    filter: brightness(110%);
}

.achi-button.selected {
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg,#e65c00, #F9D423);
}

.achi-button.selected:hover {
    filter: brightness(130%);
}


#btn1.achi-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#btn2.achi-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 800px) {
    .achi-button {
        padding: 1.5rem;
        margin: 0.175rem;
        border-radius: 0.5rem;
        font-size: 1.9rem;
    }

    .achi-slider {
        border-radius: 0.75rem;
        box-shadow: 0px 0.45rem 1.25rem rgba(0, 0, 0, 0.3);
    

        display: grid;
        grid-template-columns: auto auto;
        padding: 0.175rem;
        margin: 1.5rem 0vw 0rem 0rem;
    }
}

@media screen and (min-width: 800px) {
    .achi-button {
        padding: 1.5vw;
        margin: 0.175vw;
        border-radius: 0.5vw;
        font-size: 1.8vw;
    }

    .achi-slider {
        border-radius: 0.75vw;
        box-shadow: 0px 0.45vw 1.25vw rgba(0, 0, 0, 0.3);
    
        display: grid;
        grid-template-columns: auto auto;
        padding: 0.175vw;
        margin: 1.5vw 0vw 0.5vw 0vw;
    }
    
}
