.vertical-holder {
    /* display: grid;
    grid-template-columns: 100%; */
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.vertical-image-back {
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* margin-top: 0; */
    aspect-ratio: 5 / 3;
    width:100%;
    height: auto;
    object-fit: cover;
    filter: brightness(40%);

    transition: filter 0.3s ease-in-out;
}

.vertical-image-front {
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 80%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 0.2s ease-in-out;
}

.radial-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(ellipse at center, rgba(255, 100, 100, 0) 0%, rgba(0, 0, 0, 0.85) 100%); */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    pointer-events: none;
  }

.vertical-image-container {
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background-color: aqua;
}

.vertical-text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    white-space: pre-line;
    margin: 0;

    color: rgb(49, 49, 49);
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
    min-height: 30vh;
}

.vertical-box-title {
    color: rgb(255, 219, 77);
    text-align: center;
    font-family: Poppins;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-top: 0;
}

#vertical-frc {
    color: rgb(255, 255, 255);
    background-color: #0166b4;
    background: linear-gradient(130deg,#004b85, #0166b4,#009cd7);
}

#vertical-jf {
    color: rgb(255, 255, 255);
    background-color: #ec1a25;
    background: linear-gradient(130deg,#ff000d, #ec1a25);
}

#vertical-tekno {
    color: rgb(255, 255, 255);
    background-color: rgb(69, 69, 255);
    background: linear-gradient(130deg,#152887, #490723);
}

#vertical-other {
    color: rgb(255, 233, 87);
    background: linear-gradient(130deg,#000000, #2c2c2c);
}

.vertical-redirect-button {
    background-color: rgb(255, 233, 87);
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 10px 20px;
    color: rgb(49, 49, 49);
    font-weight: 800;
    font-size: 2rem;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.vertical-redirect-button:hover {
    transform: scale(1.2);
    background-color: rgb(255, 225, 31);
    color: rgb(0, 0, 0);
}

.vertical-holder:hover {
    transform: scale(107.5%);
}

.vertical-holder:hover .vertical-image-front{
    opacity: 0;
}

.vertical-holder:hover .vertical-image-back {
    filter: brightness(120%);
}

@media screen and (max-width: 1000px) {

    .vertical-text-content {
        font-size: 1.6rem;
    }

    .vertical-box-title{
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
}