.content-holder-yellow {
    margin: 35px;
    border-radius: 2.5vw;
    padding: 20px 20px 20px 20px ;
    display: grid;
    grid-template-columns:30% 70%;
    box-shadow: -0.3vw 0.3vw 0.9vw rgba(0, 0, 0, 0.2);
}

.content-holder-black {
    margin: 35px;
    border-radius: 2.5vw;
    padding: 20px 30px 20px 30px ;
    display: grid;
    grid-template-columns:70% 30%;
    box-shadow: 0.3vw 0.3vw 0.9vw rgba(0, 0, 0, 0.2);
}

.content-holder-news {
    margin: 2%;
    border: solid 10px rgba(224, 224, 224, 0.559);
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgb(255, 255, 255),rgb(0, 0, 0));
    border-radius: 20px;
    padding: 20px 30px 20px 30px ;
    display: grid;
    grid-template-columns:50% 50%;
}

.redirect-button {
    background-color: rgb(255, 233, 87);
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: rgb(49, 49, 49);
    font-weight: 800;
    font-size: 2rem;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.redirect-button:hover {
    transform: scale(1.2);
    background-color: rgb(255, 225, 31);
    color: rgb(0, 0, 0);
}

.content-box-title {
    color: rgb(49, 49, 49);
    text-align: center;
    font-family: Poppins;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
    padding: 0;
}

.image-container {
    /* margin-right: 5%; */
    align-self: center;
    display: flex;
    justify-content: center;
}

.image {
    width:100%;
    height: auto;
    object-fit: cover;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    white-space: pre-line;

    color: rgb(49, 49, 49);
    text-align: center;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
        
}

h1 {
    text-align: center;
    font-size: 2.75rem;
}

@media screen and (max-width: 700px) {
    .content-holder-yellow,.content-holder-black{
        grid-template-columns: 100%; 
        padding: 1vw 2vw 1vw 2vw ;
        margin: 5vw 6vw 3vw 6vw;
        border-radius: 10vw;
    }

    .text-content {
        font-size: 4.5vw;
        padding: 0vw 5.5vw 0vw 5.5vw ;
    }

    .content-holder-black .image-container{
        order: -1;
    }

    .image { /* maybe maybe maybe */
        width: 90%;
    }

    .content-box-title {
        font-size: 7vw;
        margin-bottom: 4vw;
    }

    .redirect-button {
        font-size: 6vw;
        padding: 2.5vw 5vw 2.5vw 5vw;
        border-radius: 1.5vw;
        margin-top: 5vw;
        margin-bottom: 6vw;
    }

    .content-holder-yellow{
        box-shadow: -0.75vw 0.9vw 3vw rgba(0, 0, 0, 0.2);
    }

    .content-holder-black {
        box-shadow: 0.75vw 0.9vw 3vw rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .content-holder-yellow,.content-holder-black{ 
        padding: 1vw 2vw 1vw 2vw ;
        margin: 1rem 1.8rem 1rem 1.8rem;
    }

    .content-box-title {
        font-size: 1.8rem; 
        margin-bottom: 0.4rem;
        margin-top: 0.5rem;
    }

    .text-content {
        font-size: 1.35rem;
        padding: 0vw 1rem 0vw 1rem;
    }

    .redirect-button {
        font-size: 1.7rem;
        padding: 0.8rem 1.6rem 0.8rem 1.6rem;
        margin-top: 0.6rem;
        margin-bottom: 1rem;
        border-radius: 7px;
    }
}


@media (min-width: 1000px) and (max-width: 1200px) {
    .content-holder-yellow,.content-holder-black{ 
        padding: 1vw 2vw 1vw 2vw ;
        margin: 1.5rem 1.8rem 1.5rem 1.8rem;
    }

    .content-box-title {
        font-size: 2.1rem; 
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .text-content {
        font-size: 1.6rem;
        padding: 0vw 1rem 0vw 1rem;
    }

    .redirect-button {
        font-size: 1.9rem;
        padding: 0.8rem 1.6rem 0.8rem 1.6rem;
        margin-top: 1rem;
        margin-bottom: 0.8rem;
        border-radius: 7px;
    }
}

@media (min-width: 1200px) {
    .text-content {
        font-size: 1.5vw;
        padding: 0vw 1vw 0vw 1vw ;
        letter-spacing: 0.075vw; 
    }

    .content-box-title {
        font-size: 2vw;
        margin-bottom: 0.5vw;
    }

    .redirect-button {
        font-size: 1.7vw;
        padding: 0.8vw 1.5vw 0.8vw 1.5vw;
        border-radius: 0.55vw;
        margin-top: 1.25vw;
    }

    .content-holder-yellow,.content-holder-black{
        padding: 1vw 1vw 1vw 1vw ;
        margin: 2vw;
        
    }
    
}