.smallbox-content-holder {
    margin: 4%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0px;
    display: grid;
    grid-template-columns:35% 65%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.smallbox-content-holder:hover  .smallbox-image{
    filter: brightness(130%);
}

.smallbox-content-holder:hover {
    transform: scale(107.5%);
}

.smallbox-image-container {
    align-self: center;
}

.smallbox-image {
    width:100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    filter: brightness(80%);
    transition: filter 0.2s ease-in-out;
}

.smallbox-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    padding-right: 5%;
    padding-left: 5%;
    
}

#smallbox-pic {
    /* filter: drop-shadow(-5px 5px 5px rgb(171, 171, 171)); */
}

#team-header-name {
    font-size: 150%;
    font-weight: 800;
}

#team-header-role {
    font-size: 115%;
    font-weight: 700;
}

#team-link {
    font-size: 80%;
}


 @media screen and (max-width: 550px) {
    #team-header-name {
        font-size: 120%;
    }
    
    #team-header-role {
        font-size: 95%
    }
    
}

@media (min-width: 700px) and (max-width: 950px){
    #team-header-name {
        font-size: 115%;
    }
    
    #team-header-role {
        font-size: 90%
    }
    
}