.smallbox-content-holder {
    margin: 2%;
    border: solid 10px rgba(224, 224, 224, 0.559);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns:35% 65%;
}

.smallbox-image-container {
    margin-right: 20%;
    align-self: center;
}

.smallbox-image {
    width:100%;
    height: auto;
    object-fit: cover;
}

.smallbox-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    
}

#team-header-name {
    font-size: 170%;
}

#team-header-role {
    font-size: 120%
}

#team-link {
    font-size: 90%;
}


 @media screen and (max-width: 550px) {
    #team-header-name {
        font-size: 100%;
    }
    
    #team-header-role {
        font-size: 80%
    }
    
    #team-link {
        font-size: 70%;
    }
    
}