.smallbox-content-holder {
    margin: 1.2vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1.6vw;
    padding: 0px;
    display: grid;
    grid-template-columns:35% 65%;
    box-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.smallbox-content-holder:hover  .smallbox-image{
    filter: brightness(130%);
}

.smallbox-content-holder:hover {
    transform: scale(110%);
}

.smallbox-image-container {
    align-self: center;
}

.smallbox-image {
    width:100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 1.6vw;
    border-bottom-left-radius: 1.6vw;
    filter: brightness(80%);
    transition: filter 0.2s ease-in-out;
}

.smallbox-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    padding-right: 5%;
    padding-left: 5%;
    
}

#smallbox-pic {
    /* filter: drop-shadow(-5px 5px 5px rgb(171, 171, 171)); */
}

#team-header-name {
    font-size: 1.6vw;
    font-weight: 800;
}

#team-header-role {
    font-size: 1.2vw;
    font-weight: 700;
    font-style: normal;
    color: rgb(75, 75, 75);
}

@media screen and (max-width: 376px) {
    #team-header-name {
        font-size: 110%;
    }
    
    #team-header-role {
        font-size: 85%
    }

    
    .smallbox-content-holder{
        border-radius: 1.8rem;
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    }

    .smallbox-image {
        border-top-left-radius: 1.8rem;
        border-bottom-left-radius: 1.8rem;
    }
}


 @media (min-width: 376px) and (max-width: 700px) {
    #team-header-name {
        font-size: 120%;
    }
    
    #team-header-role {
        font-size: 95%
    }

    .smallbox-content-holder{
        border-radius: 1.8rem;
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    }

    .smallbox-image {
        border-top-left-radius: 1.8rem;
        border-bottom-left-radius: 1.8rem;
    }
    
}

@media (min-width: 700px) and (max-width:1200px){
    #team-header-name {
        font-size: 115%;
    }
    
    #team-header-role {
        font-size: 90%
    }

    .smallbox-content-holder{
        border-radius: 2.1rem;
    }

    .smallbox-image {
        border-top-left-radius: 2.1rem;
        border-bottom-left-radius: 2.1rem;
    }
    
}