.redirect-box-container {
    position: relative; /* Ensure the parent container acts as the positioning reference */
    display: flex;
    flex-direction: column;
    margin: 3%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0.4vw 1vw rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }
  
  .redirect-box-container:hover .redirect-image {
    filter: brightness(120%);
  }
  
  .redirect-box-container:hover {
    transform: scale(110%);
  }
  
  .redirect-box-container:hover .redirect-text {
    color: rgb(0, 0, 0);
    background:linear-gradient(115deg,rgb(255, 231, 50), rgb(255, 234, 75), rgb(255, 238, 111));
  }
  
  .redirect-box-container:hover .redirect-image-text {
    /* visibility: hidden; */
    opacity: 0;
  }
  
  .redirect-image {
    position: relative; /* Add position relative to make the absolute positioning relative to this container */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    filter: brightness(40%);
    aspect-ratio: 100 / 60;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
  }
  
  .redirect-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 2rem;
    /* visibility: visible; */
    opacity: 1;
    font-family: 'UniSans', Impact, sans-serif;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.85);
    font-size: 5rem;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    transition: opacity 0.2s ease-in-out;
  }
  
  .redirect-text {
    padding: 10px;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(255, 213, 23);
    background: linear-gradient(115deg,rgb(0, 0, 0), rgb(15, 15, 15), rgb(30, 30, 30));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    transition: background-color 150ms linear;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }
  
@media (min-width: 460px) and (max-width: 700px) {
    .redirect-image-text{
        font-size: 6.5rem;
    }
    .redirect-text{
        font-size: 2rem;
    }
    .redirect-box-container{
      box-shadow: 0px 1.5vw 3vw rgba(0, 0, 0, 0.4);
    }
}

@media (max-width: 460px) {
  .redirect-image-text{
      font-size: 4.5rem;
  }
  .redirect-text{
      font-size: 2rem;
  }
  .redirect-box-container{
    box-shadow: 0px 1.5vw 3vw rgba(0, 0, 0, 0.4);
  }
  
}

@media screen and (min-width: 700px) {
  .redirect-box-container{
    margin: 1vw;
    border-radius: 2vw;
  }
  .redirect-image-text{
    font-size: 4vw;
  }

  .redirect-text{
    font-size: 1.8vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    letter-spacing: 0.075vw; 
    padding: 0.5vw 0vw 0.5vw 0vw;
  }

  .redirect-image{
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
  }
  
}