.header{
    background-color: rgb(240, 240, 240);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0.25vw 0.25vw rgba(0, 0, 0, 0.75);
    
}

#logoimg {
    width: 14rem;
    margin-left: 2rem;
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
    opacity: 0.85;
}

#logoimg:hover {
    opacity: 1;
}

a:hover {
    color: black;    
}

.right {
    padding-right: 2rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0rem;
    z-index: 1;
}

#menu-toggle-icon{
    position: static;
    width: initial;
    padding: initial;
    opacity: 1;
    display: none;
}

.menu > .list{
    flex-direction: row;
}

.list{
    display: flex;
    align-items: center;
    gap: 2rem;
}


.lan {
    border-radius: 10%;
    border: 0.2rem solid rgb(202, 202, 255);
    color: rgb(77, 77, 255);
    padding: 0rem 1rem 0rem 1rem;
    margin-top: 0.0rem;
    transition: transform 0.2s ease-in-out;
}

.lan, .menu, #logoimg:hover, .btn-menu {
    cursor: pointer;
}

.btn-menu {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.3);
    margin-top: -0.4rem;
}

.btn-menu:hover {
    transform: scale(1.8);
}

.lan:hover {
    background-color: rgb(202, 202, 255) ;
    transform: scale(1.2);
}

@media screen and (max-width: 950px) {

    .navbar {
        padding-block: 1.5rem;
    }

    #menu-toggle-icon {
        display: flex;
    } 

    .menu{
        position: absolute;
        border-radius: 5%;
        top: 8.5rem;
        right: 1.5rem;
        width: 23rem;
        padding: 1.5rem;
        background-color: rgb(240, 240, 240);
        opacity: 0;
        transform: scale(0);
        transition: opacity .25s ease-in;
    }

    .menu > .list{
        flex-direction: column;
    }

    .menu.active{
        box-shadow: 2px 2px 1rem rgb(240, 240, 240);
        opacity: 0.85;
        transform: scale(1);
    }
    

}

@media (min-width: 950px) and (max-width: 1659px) {    
    .navbar{
        padding-block: 1.5rem;
    }
}

@media screen and (min-width: 1660px) {
    
    #logoimg {
        margin-top: 1.35vw;
        margin-bottom: 1.35vw;
        width: 9vw;
        margin-left: 1.35vw;
    }

    .right {
        padding-right: 1.4vw;
    }

    .list{
        gap: 1.36vw;
    }

    .list-item a {
        font-size: 1.02vw;
        letter-spacing: 0.075vw;
        font-weight: 400;
    }

    #language-toggle-icon {
        font-size: 1.05vw;
    }
    
    .lan {
        border-radius: 0.3vw;
        border: 0.15vw solid rgb(202, 202, 255);
        color: rgb(77, 77, 255);
        padding: 0.0vw 0.65vw 0.0vw 0.65vw;
        margin-top: 0.0rem;
        transition: transform 0.2s ease-in-out;
    }
    

}
