@font-face {
  font-family: "UniSans";
  src: url('/Docs/uni-sans.heavy-italic-caps-subset.woff2') format('woff2'), local('Impact');
  font-display: swap;
}

* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }



.container {
    max-width: 100%;
    margin: 0;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.image-wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  font-family: 'UniSans', sans-serif;
  /* font-family: 'Barlow', sans-serif; */
  text-shadow: 0.4vw 0.6vw 0.7vw rgba(0, 0, 0, 0.85);
  font-size: 13.5vw;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* IS THERE EVEN A BETTER WAY ?*/


@media (max-width: 700px) {
    /* .container {
    } */

    .image-wrapper {
      height: 50vh;
    }

    .image-wrapper img {
      object-fit: cover;
    }

    .image-wrapper p {
      font-size: 16vw;
    }
  }

