@tailwind components;

/* @tailwind base;
@tailwind utilities; */

@font-face {
    font-family: "Poppins";
    src: url('/Docs/Poppins-ExtraBold-subset.woff2') format('woff2'), local('Segoe UI');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url('/Docs/Poppins-Bold-subset.woff2') format('woff2'), local('Segoe UI');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url('/Docs/Poppins-Regular-subset.woff2') format('woff2'), local('Segoe UI');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url('/Docs/Poppins-Light-subset.woff2') format('woff2'), local('Segoe UI');
    font-weight: 300;
    font-display: swap;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: rgb(49, 49, 49);
    background-color: rgb(255, 255, 255);
    letter-spacing: 1px;
    transition: background-color .25s, color, .25s;
    overflow-y: visible;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    /* max-width: 100px; */
    display: block;
}
ul{
    list-style: none;
}
button{
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}
i{
    font-size: 2.4rem;
}

